extends ../layout

block content
  table.table
      thead
        tr
          th ID
          th Phone number
          th Number of medication
          th
      tbody
        each prescription in prescriptions
          tr
            td  !{prescription._id}
            td  !{prescription.patientPhoneNumber}
            td  !{prescription.medications.length}

            td
              form(action="/prescriptions/" + prescription._id + "/delete",method="POST")
                button.btn.btn-danger.btn-sm(type='submit') Delete
